.create-post__form {
    padding: 12px;
    gap: unset;
    max-width: 400px;
}

.create-post__container {
    display: flex;
    margin-bottom: 30px;
    gap: 25%;
    align-items: end;
}

.create-post__close-button {
    color: #627163;
    padding: 0;
    font-size: 14px;
}


.create-post__header {
    margin: 0;
    font-size: 18px;
    color: #157F1F;
    text-align: center;
}

.create-post__content-container {
    display: flex;
    gap: 10px;
}

.container {
    width: 100%;
}

.create-post__user-name {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.create-post__avatar {
    width:50px;
    height: 50px;
    background-color: #627163;
    border-radius: 50%;
    flex: 0 0 auto;
}

.create-post__input {
    border: none;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
    max-height: 500px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.create-post__input:focus {
    outline: none;
}

.create-post__attach-button{
    display: block;
    padding: 0;
    margin: 0;
}

.attach-button__icon {
    width: 20px;
    height: 20px;
}

.button__container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.create-post__text {
    margin: 0;
    font-size: 14px;
    color: #627163;
}

.create-post__done-button {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #157F1F;
}

@media screen and (max-width: 375px) {
    .create-post__form {
        padding: 10px;
    }
    .create-post__container {
        margin-bottom: 20px;
    }
    .create-post__header {
        font-size: 16px;   
    }
    .create-post__user-name {
        font-size: 16px;
    }
    .create-post__input {
        font-size: 14px;
        margin-bottom: 12px;
    }
  }