.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 38px;
    box-sizing: border-box;
    gap: 20px;
}

@media screen and (max-width: 450px) {
    .form {
        padding: 15px;
    }
  }
