.login-form__header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
    color: #157F1F;
}

.login-form__name {
    font-size: 24px;
    margin: 0;
}

.login-form__header-text {
    margin: 0;
}

.login-form__link {
    margin-left: 5px;
}

.login-form__container {
    display: flex;
    flex-direction: column;
}

.login-form__label {
    margin: 0 0 10px;
    color: #157F1F;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.login-form__label:hover {
    opacity: 0.2;

}

.login-form__button {
    font-size: 18px;
    padding: 6px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #157F1F;
    border-radius: 5px;
    background-color: #EFF6EE;
    color: #157F1F;
}