.search__main {
    margin: 0 auto;
    max-width: 720px;
}

.search__label {
    display: block;
    font-size: 18px;
    color: #157F1F;
    font-weight: bolder;
    margin-bottom: 12px;
}

.search__container {
    display: flex;
}

.search__input {
    height: 50px;
    border-radius: 6px 0 0 6px;
    border: none;
    padding: 0 10px 0;
    font-size: 18px;
    flex: 1 1 auto;
}

.search__input:active, .search__input:focus{
    outline: unset;
    border: none;
    border-bottom: 2px solid #157F1F;
}

.search__button {
    border-radius: 0 6px 6px 0;
    min-width: 60px;
    flex: 0 0 auto;
    font-size: 18px;
    color: #fff;
    background-color: #157F1F;
}

@media screen and (max-width: 470px) {
    .search__main {
        padding: 12px;
    }
    .search__label {
        font-size: 14px;
    }
    .search__input {
        font-size: 14px;
    }
    .search__button {
        font-size: 14px;
    }
}