.post {
    background-color: #FFF;
    padding: 12px;
    border-radius: 12px;
}

.post__header {
    display: flex;
    gap: 8px;
}

.post__info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #D9D9D9;
    flex: 0 0 auto;
}

.post__user-name {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}

.post__login {
    color: #A4A4A4;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
}

.post__date {
    color: #A4A4A4;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.post__more-button {
    background-color: unset;
    border: none;
    width: 24px;
    height: 24px;
    color: #A4A4A4;
    padding: 0;
    margin: 0;
}

.post__text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.post__like-button {
    background-color: unset;
    border: none;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
}

.post__popup-close-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}

.post__popup-continer {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    padding: 36px 30px;
}

.post__popup-button {
    font-size: 19px;
    padding: 12px;
    border-radius: 6px;
}

.post__popup-button:hover {
    transition: ease-in-out 0.3s;
    opacity: unset;
    background-color: #efececb2;
}

.post__popup-delete-button {
    color: red;
}