.register-form {
    gap: 10px;
    margin: 16px auto;
    max-width: 470px;
}

.register-form__header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
    color: #157F1F;
}

.register-form__name {
    font-size: 24px;
    margin: 0;
}

.register-form__header-text {
    margin: 0;
}

.register-form__link {
    margin-left: 5px;
    text-decoration: underline;
}

.register-form__container {
    display: flex;
    flex-direction: column;
}

.register-form__label {
    margin: 0 0 10px;
    color: #157F1F;
    font-size: 16px;
}

.register-form__button-container {
    display: flex;
    gap: 18px;
}

.register-form__button {
    font-size: 18px;
    padding: 6px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 5px;
    flex: 1 1 auto;
}

.register-form__input-avatar{
    font-size: 16px;
    color: #627163;
}
/* .register-form__input-avatar{
    color: #157F1F;
} */

.register-form__input-avatar::file-selector-button {
    margin: 0 15px 0 0;
    padding: 10px 20px;
    color: #627163;
    background-color: #fff;
    border: 1px solid #627163;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
  
  .register-form__input-avatar::file-selector-button:hover {
    color: #157F1F;
    background-color: #EFF6EE;
  }

.register-form__button_done {
    border-color: #157F1F;
    background-color: #EFF6EE;
    color: #157F1F;
}

.register-form__button_cancel {
    border-color: #627163;
    background-color: #fff;
    color: #627163;
}

.reqister-form__error {
    color: red;
}

@media screen and (max-width: 450px) {
    .register-form__header-container {
        margin: 0 0 10px;
        flex-direction: column;
        align-items: start;
    }
    .register-form__name  {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .register-form__header-text {
        font-size: 14px;
    }
    .register-form__label {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .register-form__button {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0px;
    }
    .register-form__button-container {
        margin-top: 10px;
    }
  }