.posts-list {
    display: flex;
    flex-direction: column;
    max-width: 516px;
    margin: 0 auto;
    gap: 16px;
    padding: 24px 12px 60px 12px;
}

@media screen and (min-width: 350px) {
    .posts-list {
        padding: 16px 16px 72px 16px;
    }
  }

@media screen and (min-width: 500px) {
    .posts-list {
        padding: 64px 16px 16px 16px;
    }
}

@media screen and (min-width: 700px) {
    .posts-list {
        padding: 68px 16px 16px 16px;
    }
}