body {
    background-color: #EFF6EE;
    /* padding: 24px 12px 60px 12px; */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
}
