.profile {
    padding: 30px;
    max-width: 550px;
    margin: 70px auto;
    background-color: #fff;
    border-radius: 10px;
}

.profile__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile__info_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__description {
    display: flex;
    justify-content: space-between;
}

.profile__avatar {
    width: 100px;
    height: 100px;
    color: #A4A4A4;
    border-radius: 50%;
    flex: 0 0 auto;
    object-fit: cover;
    padding: 10px;
    background-color: #EFF6EE;
}

.profile__user-name {
    margin: 0;
    padding: 0;
    color: #157F1F;
}

.profile__user-login {
    margin: 0;
    padding: 0;
    color:  #A4A4A4;
}

/* #A4A4A4 ;
#157F1F;  */

.profile__user-followers {
    margin: 0;
    padding: 0;
    color: #157F1F;

}

.profile__edit-button {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #157F1F;
    border-radius: 10px;
    flex: 1 1 auto;
    width: 150px;
    height: 40px;
    color: #157F1F;
    background-color: #EFF6EE;
}

.profile__user-description {
    margin: 0;
    padding: 0;
    font-size: 18px;
}